<template>
  <b-container>
    <!-- User Interface controls -->
    <b-row class="mb-3">
      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Show" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage" /> entries
        </b-form-group>
      </b-col>
      <b-col md="4" offset-md="4" class="my-1">
        <b-form-group horizontal label="Search" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search" />
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table show-empty
             stacked="md"
             :items="items"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             @filtered="onFiltered"
    >
      <template slot="actions" slot-scope="row">
        <b-link href="#" @click.stop="info(row.item, row.index, $event.target)">View Purchase Order</b-link>
      </template>
    </b-table>

    <b-row>
      <b-col md="4" class="my-1">
          <!-- Showing 1 to {{  }} of {{ totalRows }} entries -->
      </b-col>
      <b-col md="4" offset-md="4" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0 pull-right" />
      </b-col>
    </b-row>
    <!-- Info modal -->
    <b-modal id="modalInfo" size="lg" @hide="resetModal" :title="modalInfo.title" ok-only>
      <b-row>
        <b-col md="6"><b>Order No:</b> {{ modalInfo.content.OrdNum }}</b-col>
        <b-col md="6"><b>Order Date:</b> {{ modalInfo.content.OrdDate }}</b-col>
      </b-row>
      <hr/>
      <b-row>
        <b-col md="6"><b>Order Created By:</b> {{ modalInfo.content.OrdCreatedUserFull }}</b-col>
        <b-col md="6"><b>Order Type:</b> {{ modalInfo.content.OrdTypeOpt }}</b-col>
      </b-row>
      <hr/>
      <b-row>
        <b-col md="6"><b>Customer Code:</b> {{ modalInfo.content.BillCustCode }}</b-col>
        <b-col md="6"><b>Customer Name:</b> {{ modalInfo.content.BillCustDesc }}</b-col>
      </b-row>
      <hr/>
      <b-row>
        <b-col md="6"><b>Invoive:</b> {{ modalInfo.content.InvoiceInfo }}</b-col>
        <b-col md="6"><b>Net Amount:</b> {{ modalInfo.content.NetAmt }}</b-col>
      </b-row>
    </b-modal>
  </b-container>
</template>

<script>
const items = []
export default {
  data () {
    return {
      items: [],
      fields: [
        { key: 'BillCustCode', label: 'PO Number', sortable: true },
        { key: 'BillCustDesc', label: 'Site/Customer', sortable: true },
        { key: 'OrdNum', label: 'Order No', sortable: true },
        { key: 'StatusOptDesc', label: 'Status', sortable: true },
        { key: 'actions', label: 'Actions' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      filter: null,
      modalInfo: { title: '', content: '' }
    }
  },
  created: function () {
    this.fetchOrders()
  },

  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },

  methods: {
    fetchOrders: function () {
      let uri = 'static/Orders.json'
      let self = this
      this.axios.get(uri).then(function (response) {
        self.items = response.data.Order
        console.log(self.orders)
      }).catch(function (error) {
        console.log(error)
      })
    },
    info (item, index, button) {
      this.modalInfo.title = 'Order Detail: ' + item.OrdNum
      this.modalInfo.content = item
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  }
}
</script>
