<!-- navbar -->
<template>
    <b-navbar toggleable="md" type="light" variant="light">
        <b-container fluid>
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-navbar-brand href="#">
                <img src="./../assets/logo.png" alt="">
            </b-navbar-brand>
            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                    <router-link tag="li" class="nav-item" to="/">
                        <a class="nav-link">Dashboard</a>
                    </router-link>
                    <router-link tag="li" class="nav-item" to="/recent/orders/">
                        <a class="nav-link">Recent Orders</a>
                    </router-link>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>
<!-- navbar -->
