<template>
    <div>
        <div class="bd-example vue-example vue-example-breadcrumb">
            <ol class="breadcrumb">
                <li role="presentation" class="breadcrumb-item">
                    <span>Home</span>
                </li>
                <li role="presentation" class="breadcrumb-item">
                    <span>Recent Order</span>
                </li>
            </ol>
        </div>
        <h4>Orders</h4>
        <hr/>
        <ListOrders></ListOrders>
    </div>
</template>
<script>
import ListOrders from '@/components/ListOrders.vue'
export default {
  components: {
    ListOrders: ListOrders
  }
}
</script>
