<template>
    <b-list-group>
        <router-link tag="a" class="list-group-item" to="/"><i class="fa fa-dashboard"></i> Dashboard</router-link>
        <b-list-group-item href="#" disabled>Document Lookup</b-list-group-item>
        <router-link tag="a" class="list-group-item" to="/recent/orders/"><i class="fa fa-tags"></i> Recent Orders</router-link>
        <router-link tag="a" class="list-group-item" to="#"><i class="fa fa-tags"></i> Order Lookup</router-link>
        <router-link tag="a" class="list-group-item" to="#"><i class="fa fa-tags"></i> Invoice Lookup</router-link>
        <b-list-group-item href="#" disabled>Calendar</b-list-group-item>
        <router-link tag="a" class="list-group-item" to="#"><i class="fa fa-tags"></i> Shippment Calendar</router-link>
        <router-link tag="a" class="list-group-item" to="#"><i class="fa fa-tags"></i> PO Calendar</router-link>
        <b-list-group-item href="#" disabled>Administration</b-list-group-item>
        <router-link tag="a" class="list-group-item" to="#"><i class="fa fa-tags"></i> Create User</router-link>
        <router-link tag="a" class="list-group-item" to="#"><i class="fa fa-tags"></i> User Permission</router-link>
        <router-link tag="a" class="list-group-item" to="#"><i class="fa fa-tags"></i> User Activity Log</router-link>
    </b-list-group>
</template>
