<template>
  <div id="app">
    <navbar></navbar>
    <b-container fluid>
      <b-row>
        <b-col md="2" class="sidebar">
          <sidebar></sidebar>
        </b-col>
        <b-col md="10" class="content">
          <router-view></router-view>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Nav from '@/components/Navbar.vue'
import Sidebar from '@/components/Sidebar.vue'
export default {
  name: 'App',
  components: {
    navbar: Nav,
    sidebar: Sidebar
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.bg-light {
  background-color: #fff !important;
  padding-top: 0;
  padding-bottom: 0;
}
.popupBox {
  position: absolute;
  width: 70%;
  top: 10%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
}
.btn-close {
  background: #000;
  color: #fff;
  border: none;
  font-size: 28px;
  padding: 5px;
  line-height: 10px;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -14px;
  top: -16px;
}
.sidebar {
  height: 600px !important;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
}
.sidebar .list-group .list-group-item {
  padding: 0.50rem 0.75rem;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #fff;
}
.sidebar .list-group .list-group-item.active {
  background: rgba(255, 255, 255, 0.09);
}
.sidebar .list-group .list-group-item.disabled {
  color: #ccc;
}
.content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pull-right {
  float: right;
}
.custom-select {
  width: 60%;
}
</style>
